@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'primary';
    src: url(../fonts/primary.ttf) format('truetype');
}
@font-face {
    font-family: 'secondary';
    src: url(../fonts/secondary.ttf) format('truetype');
}

body{
    font-family: secondary ;
}
.font-primary{
    font-family: primary !important;
}
.font-secondary{
    font-family: secondary !important;
}